@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-waves{
    background: linear-gradient(270deg, #1e40af, #dc2626);
    background-size: 400% 400%;
    animation: waves 6s ease infinite;
  }

  @keyframes waves {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
